.itemCount-container {
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: crimson;
    height: 200px;    
}

.buttons-container{
    display: flex;
}